@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  width: 1100px;
  margin: auto;
}

/*header start*/

header {
  margin: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.header-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.singUp-Btn {
  padding: 10px 14px;
  background: white;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 50px;
  color: black;
  cursor: pointer;
}
.logIn-Btn {
  padding: 10px 14px;
  background: rgba(79, 70, 229, 1);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
/*header end*/
