@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  width: 1200px;
  margin: auto;
}

.common-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*header start*/

header {
  padding: 10px 20px;
  margin: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.header-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.singUp-Btn {
  padding: 10px 14px;
  background: white;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 50px;
  color: black;
  cursor: pointer;
}
.logIn-Btn {
  padding: 10px 14px;
  background: rgba(79, 70, 229, 1);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
/*header end*/

/*hero section start*/

.hero-container {
  padding: 10px 20px;
  margin: 30px 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* line-height: 10px; */
}
.common-sub-title {
  background: #eef2ff;
  padding: 6px 20px;
  border-radius: 50px;
  color: #4f46e5;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  font-family: poppins;
  font-size: 2.3rem;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}
.description {
  text-align: center;
  color: #475569;
  font-weight: 400;
  font-family: poppins;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero-image {
  margin: 30px 0;
  position: relative;
}

.heroImg-Two {
  bottom: 6rem;
  right: 6px;
  position: absolute;
  z-index: 2;
}
/*hero section end*/

/*logo section start*/
.sponsorLogo-container {
  padding: 10px 20px;
  margin: 30px 0;
}

.sponsorLogo-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/*logo section end*/

/*features section start*/
.features-container {
  padding: 10px 20px;
  margin: 60px 0;
}

.features-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-title {
  font-family: poppins;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}
.features-description {
  font-weight: 400;
  color: #475569;
  font-size: 16px;
  width: 70%;
  text-align: center;
}

.features-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin: 40px 0;
}

.features-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.feature-icon {
  margin: 8px 0;
  font-size: 2rem;
  color: #4f46e5;
}

.features-box-title {
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.features-box-des {
  text-align: center;
  font-weight: 400;
  color: #475569;
  font-size: 14px;
  /* text-align: center; */
}
/*features section end*/

/*Achieve section start*/
.achieve-container {
  padding: 50px 20px;
  margin: 60px 0;
  background: #f8fafc;
}

.house-icon {
  /* text-align: center; */
  background: #eef2ff;
  padding: 12px 12px;
  border-radius: 50px;
  color: #4f46e5;
  margin-bottom: 20px;
  border-radius: 50%;
}
.achieve-title {
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.achieve-description {
  font-weight: 400;
  color: #475569;
  font-size: 16px;
  width: 70%;
  text-align: center;
}

.achieve-box-container {
  margin-top: 5%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.achieve-sub-title {
  font-family: poppins;
  font-weight: 600;
  color: #4f46e5;
  font-size: 3rem;
}
.achieve-des {
  text-align: center;
  color: #475569;
  font-weight: 400;
  font-size: 16px;
}
.border-right {
  border-right: 1px solid #cbd5e1;
  padding-right: 25px;
}
/*Achieve section end*/
