@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;

  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}
/* .wrapper {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
} */

/*header start*/

header {
  padding: 10px 20px;
  margin: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.header-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.singUp-Btn {
  padding: 10px 14px;
  background: white;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 50px;
  color: black;
  cursor: pointer;
}
.logIn-Btn {
  padding: 10px 14px;
  background: rgba(79, 70, 229, 1);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
/*header end*/

/*hero section start*/

.hero-container {
  padding: 10px 20px;
  margin: 30px 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* line-height: 10px; */
}
.common-sub-title {
  background: #eef2ff;
  padding: 6px 20px;
  border-radius: 50px;
  color: #4f46e5;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  font-family: poppins;
  font-size: 2.3rem;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}
.description {
  text-align: center;
  color: #475569;
  font-weight: 400;
  font-family: poppins;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero-image {
  margin: 30px 0;
  position: relative;
}

.heroImg-Two {
  bottom: 6rem;
  right: 6px;
  position: absolute;
  z-index: 2;
}
/*hero section end*/

/*logo section start*/
.sponsorLogo-container {
  padding: 10px 20px;
  margin: 30px 0;
}

.sponsorLogo-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/*logo section end*/

/*features section start*/
.features-container {
  padding: 10px 20px;
  margin: 60px 0;
}

.features-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-title {
  font-family: poppins;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}
.features-description {
  font-weight: 400;
  color: #475569;
  font-size: 16px;
  width: 70%;
  text-align: center;
}

.features-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin: 40px 0;
}

.features-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.feature-icon {
  margin: 8px 0;
  font-size: 2rem;
  color: #4f46e5;
}

.features-box-title {
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.features-box-des {
  text-align: center;
  font-weight: 400;
  color: #475569;
  font-size: 14px;
  /* text-align: center; */
}
/*features section end*/

/*Achieve section start*/
.achieve-container {
  padding: 50px 20px;
  margin: 60px 0;
  background: #f8fafc;
}

.achieve-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.house-icon {
  /* text-align: center; */
  background: #eef2ff;
  padding: 12px 12px;
  border-radius: 50px;
  color: #4f46e5;
  margin-bottom: 20px;
  border-radius: 50%;
}
.achieve-title {
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.achieve-description {
  font-weight: 400;
  color: #475569;
  font-size: 16px;
  width: 70%;
  text-align: center;
}

.achieve-box-container {
  margin-top: 5%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.achieve-sub-title {
  font-family: poppins;
  font-weight: 600;
  color: #4f46e5;
  font-size: 3rem;
}
.achieve-des {
  text-align: center;
  color: #475569;
  font-weight: 400;
  font-size: 16px;
}
.border-right {
  border-right: 1px solid #cbd5e1;
  padding-right: 25px;
}
/*Achieve section end*/

/*procrastinators section start*/
.procras-container {
  padding: 10px 20px;
  margin: 60px 0;
}
.who-This {
  color: #4f46e5;
  background: #eef2ff;
  padding: 10px 16px;
  border-radius: 50px;
  max-width: fit-content;
  margin-bottom: 10px;
}
.procras-title {
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.procras-des {
  font-size: 16px;
  color: #475569;
  font-weight: 400;
  width: 600px;
}

.procras-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 5% 0;
}

.procras-left-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.feedback-box {
  margin-bottom: 5%;
}
.convillas-title {
  font-weight: 600;
  color: #475569;
  font-size: 18px;
  margin-bottom: 8px;
}
.convillas-des {
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  width: 420px;
}
.procras-right-box {
  border-radius: 20px;
  position: relative;
  /* background: #f1f5f1; */
}
.mockImg-Two {
  position: absolute;
  right: 10px;
}

.mockImg-Two {
  height: auto;
  border-radius: 20px !important;
}
.mockImg-One {
  height: auto;
  border-radius: 20px !important;
}
.common-border-active {
  border-left: 2px solid #4f46e5;
  padding-left: 20px;
  /* border-radius: 10px; */
}
.common-border {
  border-left: 2px solid #e0e7ff;
  padding-left: 20px;
  /* border-radius: 10px; */
}

/*procrastinators section end*/

/*testimonial section start*/
.testimonial-container {
  padding: 10px 20px;
  margin: 40px 0;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial {
  color: #4f46e5;
  background: #eef2ff;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.testimonial-title {
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.testimonial-subTitle {
  font-size: 16px;
  color: #475569;
  font-weight: 400;
  text-align: center;
}

.testimonial-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: center;
  align-content: center; */
  gap: 18px;
  margin-top: 4%;
  margin-bottom: 7%;
}
.testimonial-box-content {
  height: fit-content;
  background: #f8fafd;
  padding: 12px 12px;
  border: 1px solid #d5dbe6;
  border-radius: 10px;
}
.testimonial-des {
  font-weight: 400;
  color: #475569;
  font-size: 15px;
  margin: 8px 0;
}

.testimonial-icon-color {
  color: orange;
}

.profile-content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.userName {
  font-weight: 700;
  font-size: 16px;
  color: #1e293b;
}
.designation {
  color: #475569;
  font-weight: 400;
  font-size: 15px;
}
/*testimonial section end*/

/*office-location section start*/
.office-location {
  padding: 10px 20px;
  margin: 60px 0;
}

.location-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 4% 0;
}

.location-content {
  background: #f8fafd;
  padding: 12px 12px;
  border: 1px solid #d5dbe6;
  border-radius: 10px;
}
.location-icon {
  color: #4f46e5;
  margin: 4px 0;
}
.address {
  font-weight: 800;
  font-size: 18px;
  margin: 4px 0;
}
.address-state {
  font-weight: 400;
  font-size: 14px;
}

/*office-location section end*/

/*according-section start*/
.according-container {
  margin: 60px 0;
  padding: 10px 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.faq-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-content p:first-child {
  background: #eef2ff;
  color: #4f46e5;
  padding: 8px 14px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.faq-content h2 {
  font-weight: 700;
  color: black;
  font-weight: 2.8rem;
  margin-bottom: 10px;
}
.faq-content p:last-child {
  color: #475569;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 700px;
}

.according-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; */
  margin: 60px 0;
  /* max-width: 600px; */
}
.according-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.according-text {
  display: flex;
  gap: 10px;
  align-items: center;
}
.according-text h3 {
  font-weight: 700;
  font-size: 16px;
  color: #334155;
}
.according-icon i {
  color: #94a3b8;
  transition: transform 0.8s ease-in-out;
}

.according-answer {
  margin: 6px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease;
}
.according-answer p {
  color: #475569;
  font-size: 14px;
  font-weight: 400;
}

.faq-border {
  border-bottom: 1px solid #cbd5e1;
  margin-bottom: 8px;
}
.faq.active .according-answer {
  max-height: 300px;
}
.faq.active .according-icon i {
  transform: rotate(180deg);
}
.faq.active .faq-title {
  color: #4f46e5;
  transition: transform 0.8s ease-in-out;
}
/*according-section end*/

/*advertise-section start*/
.advertise-container {
  background: #eef2ff;
  margin: 60px 0;
  /* padding: 10px 20px; */
}
.advertise-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.advertise-text {
  padding-left: 60px;
}
.advertise-text h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #1e293b;
  margin-bottom: 14px;
}
.advertise-text p {
  font-weight: 400;
  font-size: 1rem;
  color: #475569;
  margin-bottom: 20px;
}
.advertise-text .learn-btn {
  font-size: 16px;
  font-weight: 400;
  color: #4f46e5;
  border: 1px solid #4f46e5;
  padding: 12px 16px;
  border-radius: 50px;
  margin-right: 14px;
  cursor: pointer;
}
.advertise-text .started-btn {
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: #4f46e5;
  padding: 12px 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.advertise-image {
  display: flex;
  gap: 20px;
}
.advertise-image img:first-child {
  margin-top: 50px;
}
.advertise-image img:last-child {
  margin-bottom: 50px;
}
/*advertise-section end*/

/*footer-section start*/
footer {
  padding: 10px 20px;
  margin: 60px 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}
.footer-content h3 {
  font-weight: 600;
  font-size: 16px;
  color: #1e293b;
  margin-bottom: 10px;
}
.footer-content ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: #475569;
  line-height: 24px;
}
.copyRight-section {
  margin-top: 20px;
  border-top: 1px solid #cbd5e1;
}
.copyRight-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.copyRight-text {
  font-size: 12px;
  color: #94a3b8;
  font-weight: 400;
}
.copyRight-content img {
  height: 40px;
  width: auto;
}
.up-arrow {
  background: white;
  padding: 8px 12px;
  border-radius: 50%;
  border: 1px solid #cbd5e1;
}
/*footer-section end*/
